__pycache__
*.py[co]
[.][v]env/
.DS_Store
.ruff_cache
.env
.coverage
*.orig
# .NET stuff
bin
obj
appsettings.*.json
*.csproj.user
.mono
*.user
.vs

# AZD
.azure/
.files/
src/workshop/[.][v]env/

/src/shared/files
DevTunnels/devtunnels-tokens-microsoft
DevTunnels/devtunnels.json
src/python/workshop/DevTunnels/devtunnels-tokens-microsoft
src/python/workshop/DevTunnels/devtunnels.json
resources.txt
/docs/site
aitour26-WRK540-unlock-your-agents-potential-with-model-context-protocol.sln
.vscode/settings.json
src/python/workshop/dev_tunnel.log
src/python/workshop/dev_tunnel.json
